body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

#menu > ul{
    background: #0abde3;
      
}
#menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}
#menu ul a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    padding: 0 30px;
    display: block;
}
#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    border-left: 3px solid #0abde3;
}
#menu ul ul{
    position: absolute;
    background: #10ac84;
    top: 100%;
    left: 0;
    display: none;
}

#menu ul ul li{
    float: none;
    width: 200px;
    border-left: 3px solid #10ac84;
}
#menu ul ul ul{
    top: 0px;
    left: 100%;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul li:hover{
    background: #1dd1a1;
}
#menu ul li:hover{
    border-left: 3px solid #0abde3;
}